<div class="nested-fields">
  <fieldset>
    <legend>Sub Task</legend>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= link_to_remove_fields "remove sub-task", f %>
  </fieldset>
</div>