<div class="field">
  <%= presentation.label :topic %><br>
  <%= presentation.text_field :topic %>
</div>

<div class="field">
  <%= presentation.label :duration %><br>
  <%= presentation.text_field :duration %>
</div>